%h1 Welcome, #{USERNAME}!

%p You are looking smooth today, if you don't mind me saying so.

%h2 Administration Directory

%p Here's a brief breakdown of what you can do as an administrator:

%table
  %tbody
    %tr
      %th Department  
      %th Description
    %tr
      %td Home
      %td This page.
    %tr
      %td Meta
      %td Set the site's title, SEO tags, and other "meta" stuff.
    %tr
      %td Publishing
      %td Create new pages, edit/delete/hide existing pages.
    %tr
      %td Assets
      %td Manage pictures, videos, sound clips, blurbs, etc.
    %tr
      %td Mashing
      %td Integrate your site with popular online services such as Facebook and Twitter.
    %tr
      %td Style
      %td Give your site some Mojo!
    %tr
      %td Accounts
      %td Create new administrator accounts, remove existing accounts, grant/revoke privileges.
    %tr
      %td Logout
      %td Lets blow this pop sickle stand!


