%ul
  %li
    %a{:href => "/admin"} Home
  %li
    %a{:href => "/admin/meta"} Meta
  %li
    %a{:href => "/admin/publishing"} Publishing
  %li
    %a{:href => "/admin/assets"} Assets
  %li
    %a{:href => "/admin/mashing"} Mashing
  %li
    %a{:href => "/admin/style"} Style
  %li
    %a{:href => "/admin/accounts"} Accounts
  %li
    %a{:href => "/logout"} Logout
