%form(action="login" method="post" id="login-form")
  %fieldset
    %dl.unpw
      %dt
        %label(for="username") Username
      %dd
        %input(type="text" name="username")
      %dt
        %label(for="password") Password
      %dd
        %input(type="password" name="password")
  %fieldset
    %input(type="submit" value="login")
    %a(href="/") Cancel

            
